*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

input,
button {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

.main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.main-container h1 {
	font-size: 2rem;
}

.box {
	width: 40%;
	min-height: 250px;
	border: 1px solid black;
}
